<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="misapplication-tap-highlight" content="no" />
		<meta name="HandheldFriendly" content="true" />
		<meta name="MobileOptimized" content="320" />
		<title>排产查询</title>
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../css/style.css" />
		<script type="text/javascript" src="../js/common.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script type="text/javascript">
			var domready = false;
			// plusready 比 domcontentready 晚
			function plusReady() {
				if(!window.plus || !domready) {
					return;
				}
				// 横屏
				plus.screen.lockOrientation('landscape-secondary');

			}
			if(window.plus) {
				plusReady();
			} else {
				document.addEventListener('plusready', plusReady, false);
			}
			// 监听DOMContentLoaded事件
			document.addEventListener('DOMContentLoaded', function() {
				domready = true;
				plusReady();
			}, false);
			// 返回
			function goback() {
				plus.screen.lockOrientation('portrait-primary');
				plus.screen.unlockOrientation();
				plus.webview.currentWebview().close("slide-out-left", null);
			}
		</script>
	</head>

	<body>
		<header style="z-index: 1000;">
			<div class="goback" onclick="goback()">
				<i class="icon-chevron-left"></i>
			</div>
			<div class="title">排产查询</div>
		</header>
		<div class="contain-wrapper">
			<div id="app">
				<!-- 生产线 -->
				<div></div>
				<!-- 排产详情 -->
				<div>
					<div class="year">{{year}}</div>
					<div class="months">
						<div v-for="month in months">
							<div class="month">
								{{month}}
							</div>
							<div v-for="day in getDays(month)">
								{{day}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		var now = new Date();
		var app = new Vue({
			el: '#app',
			data: {
				year: now.getFullYear(),
				months: [1,2,3,4,5,6,7,8,9,10,11,12]
			},
			methods: {
				getDays: function(month) {
					var 
						year = this.year,
						d = new Date(year, month, 0),
						days = [];
    				d = d.getDate();
    				for (var i=0; i<d; i++) {
    					days.push(i+1);
    				}
    				return days;
				}
			}
		})
	</script>

</html>