<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="misapplication-tap-highlight" content="no" />
		<meta name="HandheldFriendly" content="true" />
		<meta name="MobileOptimized" content="320" />
		<title>排产查询</title>
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="../css/productschedule.css" />
		<script type="text/javascript" src="../js/common.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script type="text/javascript">
			var domready = false;
			// plusready 比 domcontentready 晚
			function plusReady() {
				if(!window.plus || !domready) {
					return;
				}
				// 横屏
				plus.screen.lockOrientation('landscape-secondary');

			}
			if(window.plus) {
				plusReady();
			} else {
				document.addEventListener('plusready', plusReady, false);
			}
			// 监听DOMContentLoaded事件
			document.addEventListener('DOMContentLoaded', function() {
				domready = true;
				plusReady();
			}, false);
			// 返回
			function goback() {
				plus.screen.lockOrientation('portrait-primary');
				plus.screen.unlockOrientation();
				plus.webview.currentWebview().close("slide-out-left", null);
			}
		</script>
	</head>

	<body>
		<header style="z-index: 1000;">
			<div class="goback" onclick="goback()">
				<i class="icon-chevron-left"></i>
			</div>
			<div class="title">排产器</div>
		</header>
		<div class="contain-wrapper">
			<div id="app">
				<!-- 生产线 -->
				<div class="productLines">
					<div class="title" ref="startpoint">
						生产线
					</div>
					<div class="productLinesHook" ref="productLinesHook">
						<div class="productLine" v-for="value, key in productLines">
							{{key}}
						</div>
					</div>
				</div>
				<!-- 排产详情 -->
				<div class="detail-wrapper" v-class="{leapYear: isLeapYear}">
					<!-- 日期标题 -->
					<div class="months">
						<div v-for="month in months" class="month">
							<div class="monthTxt">
								{{year}} - {{month}}
							</div>
							<div class="day singleItem" v-for="day in getDays(month)">
								{{day}}
							</div>
						</div>
					</div>
					<!-- 数据表背景方块 -->
					<div v-for="productLineValue, productLineKey, $productLinesIndex in productLines" class="productLine">
						<div class="singleItem2" v-for="item in dayCount">
						</div>
						<div class="planBar" v-on:touchstart="start(event)" v-on:touchmove="move(event, $productLinesIndex)" v-on:touchend="end(event, $productLinesIndex, $index)" v-for="item, $index in productLineValue" v-bind:style="planBarStyle(item.sdate, item.edate)">
							<div class="txt">{{$productLinesIndex}}-{{item.customer}}-{{item.orderno}}</div>
							<div class="doneBar" v-bind:style="{width: donePercent(item.planqty, item.doneqty)}">
								{{donePercent(item.planqty, item.doneqty)}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		var
			startX, moveX, endX, eventDomWidth, eventDomHeight, moveXHook, moveYHook, setTimeFunc,
			now = new Date(),
			y = now.getFullYear(),
			dayCount = ((0 === y % 4) && (0 === y % 100) || (0 === y % 400)) ? 366 : 365; // 一年的总天数

		// 字符串时间转化为时间戳
		function stringToTimestamp(timeString) {
			timeString = timeString.split('-');
			if(timeString[1].length == 1) {
				timeString[1] = '0' + timeString[1];
			}
			if(timeString[2].length == 1) {
				timeString[2] = '0' + timeString[2];
			}
			timeString = timeString.join('-');
			var timestamp = new Date(timeString).getTime();
			return timestamp;
		}
		// 时间戳转化为字符串
		function timestampToString(timestamp) {
			timestamp = new Date(timestamp);
			var timestring = timestamp.getFullYear() + '-' + (timestamp.getMonth() + 1) + '-' + timestamp.getDate();
			return timestring;
		}

		// 离左距离转化为时间戳
		function leftToTimestamp(left) {
			left = left + 12;
			var
				dayNum = left / 24;
			firstDayTimestamp = new Date(y + '-01-01').getTime();
			nowTimestamp = firstDayTimestamp + (dayNum - 1) * 1000 * 60 * 60 * 24;
			return nowTimestamp;
		}

		// 时间戳转化为天为单位的个数
		function timestampToDay(timestamp) {
			return timestamp / 1000 / 60 / 60 / 24;
		}

		// 天的个数转化为时间戳
		function dayToTimestamp(day) {
			return day * 60 * 60 * 24 * 1000;
		}

		// 时间戳转换为离左距离
		function dateToLeft(timeString) {
			return timestampToDay(stringToTimestamp(timeString) - stringToTimestamp(y + '-01-01')) * 24 + 12;
		}

		var app = new Vue({
			el: '#app',
			data: {
				startPoint: 0,
				year: y,
				dayCount: dayCount,
				months: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
				productLinesKeyList: [],
				productLines: {
					'2A': [{
							orderno: '2A-1',
							planqty: 1000,
							doneqty: 900,
							customer: '斐乐',
							sdate: '2018-1-5',
							edate: '2018-1-19',
						},
						{
							orderno: 'File1m8386125G,F11M838612,F11M838612HK',
							planqty: 1000,
							doneqty: 250,
							customer: '斐乐，斐乐，斐乐',
							sdate: '2018-3-11',
							edate: '2018-3-25',
						},
						{
							orderno: 'F61M838518F',
							planqty: 1000,
							doneqty: 270,
							customer: '斐乐',
							sdate: '2018-4-25',
							edate: '2018-5-8',
						},
						{
							orderno: 'F61M838518F',
							planqty: 1000,
							doneqty: 550,
							customer: '斐乐',
							sdate: '2018-8-25',
							edate: '2018-9-10',
						}
					],
					'4B': [{
							orderno: '4B-1',
							planqty: 1000,
							doneqty: 10,
							customer: '斐乐',
							sdate: '2018-1-5',
							edate: '2018-1-25',
						},
						{
							orderno: 123456789,
							planqty: 1000,
							doneqty: 400,
							customer: '安踏',
							sdate: '2018-3-19',
							edate: '2018-3-25',
						},
						{
							orderno: 'F61W31614F',
							planqty: 1000,
							doneqty: 550,
							customer: '斐乐',
							sdate: '2018-10-25',
							edate: '2018-10-30',
						}
					],
					'5B': [{
							orderno: '5B-1',
							planqty: 1000,
							doneqty: 10,
							customer: '斐乐',
							sdate: '2018-1-5',
							edate: '2018-1-25',
						},
						{
							orderno: 123456789,
							planqty: 1000,
							doneqty: 400,
							customer: '安踏',
							sdate: '2018-3-19',
							edate: '2018-3-25',
						},
						{
							orderno: 'F61W31614F',
							planqty: 1000,
							doneqty: 550,
							customer: '斐乐',
							sdate: '2018-10-25',
							edate: '2018-10-30',
						}
					]
				}

			},
			methods: {
				// 用于表示某个月的天数
				getDays: function(month) {
					var
						year = this.year,
						d = new Date(year, month, 0),
						days;
					days = d.getDate();
					return days;
				},
				// 求出百分比
				donePercent: function(planqty, doneqty) {
					if((doneqty / planqty * 100 + ' ').length > 2) {
						return((doneqty / planqty * 100 + ' ').slice(0, 2) + '%');
					} else if((doneqty / planqty * 100 + ' ').length == 2) {
						return((doneqty / planqty * 100 + ' ').slice(0, 1) + '%');
					}
				},
				// 用于进度条的样式
				planBarStyle: function(sdate, edate) {
					var
						sdateList = sdate.split('-'),
						edateList = edate.split('-'),
						dateList = this.dayCount == 365 ? [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31] : [31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31],
						leftStyle = 0;
					// 用于格式化日期字符串
					if(sdateList[1].length == 1) {
						sdateList[1] = '0' + sdateList[1];
					}
					if(sdateList[2].length == 1) {
						sdateList[2] = '0' + sdateList[2];
					}
					if(edateList[1].length == 1) {
						edateList[1] = '0' + edateList[1];
					}
					if(edateList[2].length == 1) {
						edateList[2] = '0' + edateList[2];
					}
					edate = edateList.join('-');
					sdate = sdateList.join('-');
					// 计算宽度
					var widthStyle = (Date.parse(edate) - Date.parse(sdate)) / 60 / 60 / 24 / 1000 * 24 + 'px';
					// 计算左距离
					for(var i = 0; i < (sdateList[1] - 1); i++) {
						leftStyle += dateList[i];
					}
					leftStyle = (leftStyle + Number(sdateList[2]) - 1) * 24 + 12 + 'px';
					return {
						left: leftStyle,
						width: widthStyle
					}
				},
				// 拖动事件
				start: function(e) {
					e.preventDefault();
					startX = e.targetTouches[0].pageX;
				},
				move: function(e, $productLinesIndex) {
					e.preventDefault();
					moveX = e.targetTouches[0].pageX;
					moveY = e.targetTouches[0].pageY;
					eventDomWidth = e.currentTarget.style.width.split('px')[0];
					moveXHook = moveX - eventDomWidth / 2;
					moveYHook = moveY - 99 - $productLinesIndex * 36 - 10; // e.targetTouches[0].pageY 代表的坐标点是以整个屏幕为参考点
					// 左右移动，以一年范围为限制
					if((moveXHook) > 0 && (moveXHook < this.dayCount * 24 - eventDomWidth)) {
						e.currentTarget.style.left = (moveX - eventDomWidth / 2) + 'px';
					}
					// 上下移动
					if(((-35) * $productLinesIndex - 4) < moveYHook && moveYHook < ((this.productLinesCount - $productLinesIndex - 1) * 35 + 4)) {
						e.currentTarget.style.top = moveYHook + 'px';
					}
				},
				end: function(e, $productLinesIndex, $index) {
					e.preventDefault();
					// 修正左右移动后的位置
					endX = e.currentTarget.style.left.split("px")[0];
					e.currentTarget.style.left = (endX / 24 + '').split('.')[0] * 24 + 12 + 'px';

					var
						nowTimestamp = leftToTimestamp((endX / 24 + '').split('.')[0] * 24 + 12), // 移动后的时间戳
						nowProductLineNum, // 移动后的生产线序列名称
						productLinesKeyList = this.productLinesKeyList, // 生产线名称数组
						productLinesData = this.productLines; // 生产线原始数据


					// 修正上下移动后进度条的位置
					endY = Number(e.currentTarget.style.top.split("px")[0]);
					if(endY > 20 && endY < 35) {
						e.currentTarget.style.top = '40px';
						nowProductLineNum = $productLinesIndex + 1;
					} else if(endY > 35) {
						e.currentTarget.style.top = (endY / 35 + '').split('.')[0] * 36 + 4 + 'px';
						nowProductLineNum = $productLinesIndex + Number((endY / 35 + '').split('.')[0]);
					} else if(endY < (-20) && endY > (-35)) {
						e.currentTarget.style.top = "-32px";
						nowProductLineNum = $productLinesIndex - 1;
					} else if(endY < (-35)) {
						e.currentTarget.style.top = (endY / 35 + '').split('.')[0] * 36 + 4 + 'px';
						nowProductLineNum = $productLinesIndex + Number((endY / 35 + '').split('.')[0]);
					} else {
						e.currentTarget.style.top = '4px';
						nowProductLineNum = $productLinesIndex;
					}
					// 增加延迟以防移动频率过大
					if(setTimeFunc) {
						clearTimeout(setTimeFunc);
					}
					var 
						saveEventObj = e.currentTarget, // 保留事件对象
						that = this; // 保留Vue对象
					setTimeFunc = setTimeout(function() {
						var 
							nowProductLineName = productLinesKeyList[nowProductLineNum].replace(/\s*/g, ''), // 移动后当前生产线名称
							nowProductLinesData = productLinesData[nowProductLineName]; // 移动后当前生产线的所有排产数据
						for (var i=0; i<nowProductLinesData.length; i++) {
							// 发生重叠
							if (stringToTimestamp(nowProductLinesData[i].sdate) < nowTimestamp && nowTimestamp < stringToTimestamp(nowProductLinesData[i].edate)) {
								saveEventObj.style.left = dateToLeft(nowProductLinesData[i].edate) + 'px';
							}
							if (stringToTimestamp(nowProductLinesData[i].sdate) > nowTimestamp) {
								
							}

						}
					}, 1000);
				}
			},
			computed: {
				isLeapYear: function() {
					if(dayCount == 366) {
						return true;
					}
				},
				productLinesCount: function() {
					return Object.keys(this.productLines).length;
				}
			},
			created: function() {
				this.$nextTick(function() {
					this.startPoint = this.$refs.startpoint.offsetWidth;
					var productLinesDom = this.$refs.productLinesHook.getElementsByClassName('productLine');
					for (var i=0; i<productLinesDom.length; i++) {
						this.productLinesKeyList[i] = productLinesDom[i].innerHTML;
					}
				})
			}
		})
	</script>

</html>